<form id="loginForm" method="post" action="/login">
    <div>
        <label class="title">User</label>
        <input type="text" id="usr" name="usr" >
    </div>
    <div>
        <label class="title">Password</label>
        <input type="text" id="pass" name="pass" >
    </div>
    <div>
        <input type="submit" id="submitButton"  name="submitButton" value="Submit">
    </div>
</form>
